<div class="add-trash">
    <div mat-dialog-content class="trash-content d-flex p-0">
        <div class="left-map">
            <app-mapbox [container]="'addtrash'" [locateUser]="true" [flyToCords]="searchCoOrds">
            </app-mapbox>

        </div>
        <div class="right-content flex-1 p-10">
            <div class="d-flex justfy-content-spacebetween ">
                <h1 mat-dialog-title class="d-flex p-0">Add Trash</h1>
                <mat-icon class="text-gray" (click)="closePopup()">close</mat-icon>
            </div>
            <div class="file-uploader">
                <input type="file" class="input-hidden" (change)="onFileSelected($event)" #fileUploader>
                <div class="d-flex flex-column uploader-info">
                    <span class="add-photo-icon"><mat-icon>add_photo_alternate</mat-icon></span>
                    <div class="d-flex gap-5">
                        <span class="text-color fs-18">Drop your files here or </span><span
                            class="text-primary fs-18">browse</span>
                    </div>
                    <label class="fs-12 text-gray">Maximum upload file size: 10 MB</label>
                </div>
            </div>
            <div class="file-preview-wrapper">
                <div class="d-flex justfy-content-spacebetween preview-item align-items-center">
                    <div class="d-flex gap-10 ">
                        <div class="file-preview-icon custom-sprite"></div>
                        <div class="d-flex flex-column">
                            <span class="fs-14 bold">{{this.filename}}</span>
                            <label class="fs-11 text-gray">{{this.filesize}} MB</label>
                        </div>
                    </div>
                    <div (click)="deleteFile()">
                        <span class="file-close pointer"> <mat-icon>close</mat-icon></span>
                    </div>
                </div>

            </div>
            <div class="trash-details m-t-20">
                <form [formGroup]="addTrashForm">
                    <div>
                        <mat-form-field>
                            <mat-label>Trash Name</mat-label>
                            <input matInput placeholder="Trash Name" formControlName="Title">

                            <mat-error *ngIf="addTrashForm.get('Title')?.hasError('required')">Please select
                                Please enter title.</mat-error>
                        </mat-form-field>

                    </div>

                    <div>
                        <mat-form-field>

                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Select Date"
                                formControlName="ReportedDate">


                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="addTrashForm.get('ReportedDate')?.hasError('required')">Please select
                                reported date.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="location-form">
                        <mat-form-field>
                            <div class="location-icon">
                                <mat-icon class="$text-gray"> location_on</mat-icon>
                            </div>

                            <mat-label>Location</mat-label>
                            <input matInput placeholder="Enter Location" [formControl]="searchControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)="onGeoCoderSelection($event)">
                                <mat-option *ngFor="let option of geoCoderSuggestions" [value]="option">
                                    {{option.place_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Select Category</mat-label>
                            <mat-select formControlName="CategoryId">
                                <mat-option value="3">Oil</mat-option>
                                <mat-option value="2">Plastic</mat-option>
                                <mat-option value="1">Net</mat-option>
                                <mat-option value="4">Others</mat-option>

                            </mat-select>
                            <mat-error *ngIf="addTrashForm.get('CategoryId')?.hasError('required')">Please
                                select
                                category.</mat-error>
                        </mat-form-field>
                    </div>


                </form>
            </div>
            <div mat-dialog-actions class="d-flex justfy-content-end">
                <button mat-stroked-button class="pointer btn-primary btn-submit" (click)="saveTrash()">Save</button>
            </div>
        </div>
    </div>
</div>