<div class="add-trash">
    <div mat-dialog-content class="trash-content d-flex p-0">
        <div class="left-map">
            <!-- <app-mapbox [container]="'addtrash'">
            </app-mapbox> -->
            <div #mapContainer class="map-container" id="addtrash"></div>
        </div>
        <div class="right-content flex-1 p-10">
            <div class="d-flex justfy-content-spacebetween ">
                <h1 mat-dialog-title class="d-flex p-0">Add Trash</h1>
                <mat-icon class="text-gray" (click)="closePopup()">close</mat-icon>
            </div>
            <div class="file-uploader">
                <input type="file" class="input-hidden">
                <div class="d-flex flex-column uploader-info">
                    <span class="add-photo-icon"><mat-icon>add_photo_alternate</mat-icon></span>
                    <div class="d-flex gap-5">
                        <span class="text-color fs-18">Drop your files here or </span><span
                            class="text-primary fs-18">browse</span>
                    </div>
                    <label class="fs-12 text-gray">Maximum upload file size: 50 MB</label>
                </div>
            </div>
            <div class="file-preview-wrapper">
                <div class="d-flex justfy-content-spacebetween preview-item align-items-center">
                    <div class="d-flex gap-10 ">
                        <div class="file-preview-icon custom-sprite"></div>
                        <div class="d-flex flex-column">
                            <span class="fs-14 bold">File Name_1.Jpeg</span>
                            <label class="fs-11 text-gray">24 MB</label>
                        </div>
                    </div>
                    <div>
                        <span class="file-close"> <mat-icon>close</mat-icon></span>
                    </div>
                </div>

            </div>
            <div class="trash-details m-t-20">
                <form [formGroup]="addTrashForm" (ngSubmit)="onSave()">
                    <div>
                        <mat-form-field>
                            <mat-label>Trash Name</mat-label>
                            <input matInput placeholder="Trash Name" formControlName="trashName">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>

                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Select Date" formControlName="date">

                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="location-form">
                        <mat-form-field>
                            <div class="location-icon">
                                <mat-icon class="$text-gray"> location_on</mat-icon>
                            </div>

                            <mat-label>Location</mat-label>
                            <input matInput placeholder="Enter Location" [formControl]="searchControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)="onGeoCoderSelection($event)">
                                <mat-option *ngFor="let option of geoCoderSuggestions" [value]="option">
                                    {{option.place_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Select Category</mat-label>
                            <mat-select formControlName="category">
                                <mat-option value="oil">Oil</mat-option>
                                <mat-option value="plastic">Plastic</mat-option>
                                <mat-option value="net">Net</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="addTrashForm.get('selectedDate')?.hasError('required')">
                        Please select a date.
                    </div>
                </form>
            </div>
            <div mat-dialog-actions class="d-flex justfy-content-end">
                <button mat-stroked-button class="pointer btn-primary btn-submit">save</button>
            </div>
        </div>
    </div>
</div>