$color-white:#fff;
$text-color:#000;
$primary-light:#3074B3;
$primary-btn-hover:#4c4c78;
$label-primary:#3074B3;
$border-light:#D4E8F9;
$grey-light:#D9DADC;
$grey-light-btn-bg:#F2F2F2;
$color-success:#23AA8F;
$color-gray-dark:#3E3E3E;
$color-gray-light:#7B7B7B;
$color-dark-blue:#1F1F44;
$color-danger:#FF2D31;
$text-gray:#C5C5C5;
$grey-light-btn-bg:#F2F2F2;
$primary-bg:#1976D2;
$border-gray-light:#E8E8E8;
$btn-border: #757575;