body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

//login page//
.login-section {
    height: 100vh;


    .login-wrper {
        .login-left {
            .login-bg-img {
                background: url('../../images/background\ -login.jpg');
                width: 100%;
                height: 100%;
                display: block;
                background-size: contain;

                .left-content {
                    padding: 15%;

                    h3 {
                        color: $color-white;
                        font-size: 78px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    h5 {
                        color: $color-white;
                        font-size: 38px;
                        font-weight: 500;

                    }

                    p {
                        font-size: 14px;
                        color: $color-white;
                    }
                }


            }
        }

        .login-right {
            width: 40%;

            .eyesea-login-section {
                .logo-img {
                    background: url('../../images/logo.png');
                    width: 111px;
                    height: 75px;
                    display: block;
                    margin-bottom: 25%;
                }

                .login-content {
                    h3 {
                        font-size: 28px;
                        color: $text-color;
                    }
                }
            }

            .eyesea-logo {
                .login-content {
                    h3 {
                        font-size: 38px;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }

                }
            }

            .password-details {
                .remember-me {
                    .mdc-label {
                        font-size: 14px;
                        color: $text-color !important;
                    }



                }

                .forgot-password-section {
                    color: $primary-light;
                    font-size: 12px;
                }
            }

            .divider {
                display: flex;
                align-items: center;
                margin-top: 60px;
                gap: 20px;

                &:after {
                    content: "";
                    width: 50%;
                    height: 1px;
                    background: $border-light;
                    display: block;

                }

                &:before {
                    content: "";
                    width: 50%;
                    height: 1px;
                    background: #D4E8F9;
                    display: block;

                }
            }

            .socialmedia-icons {
                padding-left: 4px;
                border-radius: 29px;
                width: 317px;
                height: 48px;

                &.fb {
                    background-color: $primary-bg;
                }

                &.google {
                    background-color: $color-white;
                    border: 1px solid $border-gray-light;

                }

                &.gust {
                    background-color: $color-dark-blue;
                }


            }
        }
    }
}

//sign in page//
.register-section {
    .register-bg {
        background: url('../../images/background-signin.jpg');
        width: 100%;
        height: 100%;
        display: block;
        background-size: contain;

        .left-content {
            padding: 15%;

            h3 {
                color: $color-white;
                font-size: 78px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            h5 {
                color: $color-white;
                font-size: 38px;
                font-weight: 500;

            }

            p {
                font-size: 14px;
                color: $color-white;
            }
        }
    }

    .register-right {
        width: 45% !important;
        padding: 30px;
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 28px;
            font-weight: 600;
            color: $text-color;

        }

        p {
            font-size: 14px;
            color: $text-color;
        }

        .register-forms {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }

        .tickbox {
            a {
                text-decoration: none;
                color: $label-primary;
            }
        }

        .change-img {
            width: 169px;
            height: 169px;
            display: flex;
            background-repeat: no-repeat;
            border-radius: 50%;


        }

        &.edit-profile {
            width: 100% !important;


            .register-forms {
                grid-template-columns: 1fr 1fr 1fr !important;
                row-gap: 30px;
            }

            button.btn-primary.mdc-button {
                width: 106px;
            }
        }

    }
}


//Header- section//
.header-section {
    >div {
        padding: 12px 20px 0 20px;
    }

    .header-left {
        background: url('../../images/header-logo.png');
        width: 71px;
        height: 48px;
        display: block;
        background-repeat: no-repeat;

    }

    .header-right {

        .user-profile {
            width: 46px;
            height: 46px;
            display: block;
            background-repeat: no-repeat;
            border-radius: 50%;
        }

        .divider {
            width: 1px;
            height: 30px;
            display: block;
            background-color: $border-light;
        }

    }
}

.profile-menu {
    .menu-profile-img {
        background: url('../../images/profile-menu.png');
        width: 104px;
        height: 104px;
        display: flex;
        background-repeat: no-repeat;

        .edit-img-wrpr {
            background: white;
            width: 46px;
            height: 46px;
            position: absolute;
            border: 0.5px solid #E8E8E8;
            border-radius: 23px;
            box-shadow: 0px 3px 6px #00000014;
            right: -22px;
            top: 5px;


        }




    }

    .rewards {
        border: 1px solid #F2F2F2;
        padding: 20px;
        border-radius: 9px;
        gap: 30px;



        .rank-wrapr {
            &:after {
                content: "";
                background-color: #F2F2F2;
                width: 1px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -15px;

            }
        }
    }

}



//**********Public main page **********************//
.public-main-page {
    .left-content {
        .map-container {
            width: 65%;
            height: 100%;
            position: absolute;

            .map-wrapper {
                .filter-btn-wrapper {
                    width: 57px;
                    //height: 234px;
                    border-radius: 8px;
                    background-color: $color-white;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 6px;
                    justify-content: space-between;
                    position: absolute;
                    right: 10px;
                    top: calc(50% - 120px);
                    z-index: 1;

                    .btn-inner-wrapper {

                        height: 48px;
                        border-radius: 6px;
                        background-color: $grey-light-btn-bg;

                        &.active {
                            background-color: $color-dark-blue;

                            label {
                                color: $color-white;
                            }

                            .net-icon {
                                background-position: -82px -76px;;

                            }

                            .pls-icon {
                                background-position: -55px -79px;

                            }

                            .oil-icon {
                                background-position: -111px -81px;

                            }

                            .other-icon {
                                background-position: -139px -78px;

                            }
                        }
                    }


                }

                .map-btn {
                    button.btn-primary.mdc-button {
                        width: auto;
                        height: auto;
                        z-index: 99;
                        padding: 6px;
                        font-size: 16px;
                    }

                    .search-btn {
                        width: auto;
                        height: auto;
                        z-index: 99;
                        padding: 6px;
                        font-size: 16px;
                        background-color: $primary-light;
                        border-radius: 20px;
                        position: absolute;
                        display: flex;
                        border: 0;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        &:hover {
                            background-color: $primary-btn-hover;
                        }

                        .material-icons {
                            font-size: 20px;
                            color: $color-white;
                        }
                    }

                }
            }
        }
    }


    .right-content {
        width: 35%;

        .right-btn {
            width: 85px;
            height: 34px;
            background-color: $primary-light;
            border-radius: 20px;
            position: absolute;
            right: 20px;
            top: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: $primary-btn-hover;
            }

            .material-icons {
                font-size: 20px;
                color: $color-white;
            }
        }

        .records-count {
            font-size: 12px;
            color: $color-gray-dark;

            .right-section {
                .material-icons {
                    font-size: 12px;
                }

                .mat-icon {
                    width: 10px;

                    &.arrow-up {
                        color: $text-color;
                    }
                }
            }

        }
    }

    #mat-tab-label-0-2 {
        margin-right: 50px;
    }

    .trashlist-wrapper {
        .trashlist-container {
            height: calc(100vh - 143px);
            overflow: auto;

            .trashlist-item {
                &.trash-blk {
                    border: 1px solid $border-light;
                    border-radius: 6px;
                    padding: 15px;
                    cursor: pointer;

                    .trash-img {
                        width: 50px;
                        height: 48px;
                        display: block;
                        background-repeat: no-repeat;
                        background: url('../../images/plastic.png');
                    }

                    .right-end {


                        span {
                            font-size: 12px;
                            color: $color-gray-light;
                        }

                    }

                    .location-icon {


                        .mat-icon {
                            height: 18px;
                            width: 20px;
                            position: relative;
                            left: -3px;


                            &.material-icons {
                                font-size: 17px;
                                color: $color-dark-blue;
                            }
                        }

                        span {
                            font-size: 12px;
                            color: $color-gray-light;
                        }
                    }
                }
            }
        }
    }
}

.badge {
    width: 65px;
    height: 19px;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.bg-blue {
        background-color: #D6E2F2;
        border: 1px solid #ADCBEB;
    }

    &.bg-orange-light {
        background-color: #FAF6F0;
        border: 1px solid #F1E3D0;
    }

    &.bg-violet {
        background-color: #DEE2FF;
        border: 1px solid #BAC1EF;
    }

    &.bg-pink {
        background-color: #FFE6F1;
        border: 1px solid #EFC6D8;
    }
}

//*************add-trash*********************//

.add-trash {
    .trash-content {
        .left-map {
            width: 40%;

            .map-container {
                width: 100%;
                height: 100%;
                position: relative;
            }
        }


        .right-content {
            .file-uploader {
                border: 1px dashed $border-light;
                border-radius: 6px;
                height: 150px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .add-photo-icon {
                    width: 52px;
                    height: 52px;
                    background-color: #3074B31A;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $label-primary;
                }

                .input-hidden {
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    cursor: pointer;
                }

                .uploader-info {
                    align-items: center;
                }
            }

            .file-preview-wrapper {
                .preview-item {
                    border-bottom: 1px solid $border-light;
                    padding: 10px 0;

                    .file-close {
                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        color: $color-danger;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ffd7d8;

                        .mat-icon {
                            font-size: 15px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            .trash-details {
                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 15px;
                }

            }

            .btn-submit {
                border-radius: 4px !important;
                height: 40px !important;
                width: 107px !important;
                font-size: 16px !important;

            }
        }

        .location-form {
            position: relative;

            .location-icon {
                position: absolute;
                right: 0;
            }

            input {
                padding-right: 25px;
            }
        }
    }
}

//******************trash-details-popup***************//
.trash-details-popup {
    .trash-img {
        width: 50px;
        height: 48px;
        display: block;
        background-repeat: no-repeat;
        background: url('../../images/plastic.png');
    }

    .btn-primary {
        height: 40px !important;
    }
}

//*************************icons******************************//
.custom-sprite {
    background: url('../../images/custom-sprite.png');
    display: flex;
    background-repeat: no-repeat;

    &.facebook-icon {
        background-position: -237px -74px;
        width: 44px;
        height: 38px;
    }

    &.google-icon {
        width: 49px;
        height: 41px;
        background-position: -48px -33px;

    }

    &.gustuser-icon {
        width: 49px;
        height: 41px;
        background-position: -94px -33px;

    }

    &.award-icon {
        background-position: -142px -2px;
        width: 17px;
        height: 20px;
    }

    &.notification-icon {
        background-position: -120px -2px;
        width: 20px;
        height: 20px;
    }

    &.calendar_today-icon {
        background-position: -20px -1px;
        width: 16px;
        height: 18px;
    }

    &.reportedby-icon {
        background-position: -39px -1px;
        width: 17px;
        height: 18px;
    }

    &.file-preview-icon {
        background-position: -162px -2px;
        width: 21px;
        height: 27px;
    }

    &.net-icon {
        background-position: -140px -33px;
        width: 24px;
        height: 24px;
    }

    &.pls-icon {
        background-position: -169px -37px;
        width: 24px;
        height: 24px;
    }

    &.oil-icon {
        background-position: -2px -79px;
        width: 24px;
        height: 24px;
    }

    &.other-icon {
        background-position: -30px -79px;
        width: 24px;
        height: 24px;
    }

    &.add-img {
        background-position: -90px -103px;
        width: 46px;
        height: 46px;
        position: absolute;
        bottom: 25px;
        right: -5px;
    }

    &.zoom-out-icon {
        background-position: -216px -2px;
        width: 18px;
        height: 18px;
    }

    &.zoom-in-icon {
        background-position: -239px -2px;
        width: 18px;
        height: 18px;
    }

    &.edit-icon {
        background-position: -188px -2px;
        width: 25px;
        height: 25px;

    }

    &.website-icon {
        background-position: -194px -31px;
        width: 32px;
        height: 32px;
    }

    &.policy-icon {
        background-position: -231px -31px;
        width: 32px;
        height: 32px;
    }

    &.help-icon {
        background-position: -268px -33px;
        width: 32px;
        height: 32px;
    }

    &.Contact-icon {
        background-position: -163px -74px;
        width: 32px;
        height: 32px;
    }

    &.settings-icon {
        background-position: -200px -74px;
        width: 32px;
        height: 32px;
    }

    &.rank-icon {
        background-position: -2px -105px;
        width: 37px;
        height: 35px;
    }

    &.point-icon {
        background-position: -46px -105px;
        width: 42px;
        height: 33px;
    }

    &.arrow {
        background-position: -262px -2px;
        width: 14px;
        height: 8px;
    }
}

.list-none {
    list-style: none;
}

.data-policy,
.upload-popup {
    button {
        width: auto !important;
    }
}