@media only screen and (min-width: 1500px){
    .login-section {
        .login-wrper {
            .login-right {
                .eyesea-login-section {
                    .logo-img {
                        margin-bottom: 5%;
                    }
                }
                .socialmedia-icons {
                    margin: 25px 0;
                }
                .divider {
                    margin-top: 30px;
                   
                }
            }
        }
    }
}
@media only screen and (max-width: 1500px){
    .login-section {
        .login-wrper {
            .login-right {
                .eyesea-login-section {
                    .logo-img {
                        margin-bottom: 5%;
                    }
                }
                .socialmedia-icons {
                    margin: 40px 0;
                }
                .divider {
                    margin-top: 30px;
                   
                }
            }
        }
    }
}
@media only screen and (max-width: 1400px){
    .login-section {
        .login-wrper {
            .login-right {
                .eyesea-login-section {
                    .logo-img {
                        margin-bottom: 3%;
                    }
                }
                .socialmedia-icons {
                    margin: 20px 0;
                }
                .divider {
                    margin-top: 30px;
                   
                }
            }
        }
    }
   
}
@media only screen and (max-width: 1200px){
   
}
@media only screen and (max-width: 992px){
 
}