<div class="trash-details-popup">
    <div class="d-flex justfy-content-end p-5 text-gray pointer"><mat-icon (click)="closePopup()">close</mat-icon></div>
    <div mat-dialog-content class="d-flex gap-10 p-10">

        <!-- <div class="trash-img"></div> -->
        <img [src]="trashItem.attachmentUrl" alt="trash-img" class="trash-img">
        <div class=" ">
            <div> <label class="fs-16 text-color m-0">{{trashItem.title}}</label></div>

            <span class="text-gray fs-12">Category :</span><span
                class="bold fs-12 color-primary bold">{{TRASH_CATEGORIES[trashItem.categoryId]}}</span>
        </div>
        <div>
            <button mat-button class="pointer btn-primary"class="weather"  (click)="onclickweather()">Weather Reports</button>
          
        </div>
    </div>
    <div class="p-10">
        <div class="d-flex  justfy-content-spacebetween m-b-10">
            <div class="d-flex align-items-center">
                <mat-icon class="text-gray fs-20"> location_on</mat-icon>
                <span class="text-gray fs-14">Location</span>
            </div>
            <div class="d-flex align-items-center">
                <mat-icon class="text-gray fs-20">calendar_today</mat-icon>
                <span class="text-gray fs-13">Reported on</span>
            </div>
        </div>
        <div class="d-flex justfy-content-spacebetween">
            <span class="fs-14 color-primary bold">{{this.mapboxService.formatLatitude(this.trashItem.latitude)}},
                {{this.mapboxService.formatLongitude(this.trashItem.longitude)}}</span>
            <span class="fs-13 color-primary bold">{{trashItem.reportedDate| date: 'dd-MMM-yyyy'}}</span>
        </div>
        <div class="d-flex justfy-content-spacebetween m-t-10">
            <div class="d-flex align-items-center">
                <mat-icon class="text-gray fs-17">person_outline</mat-icon>
                <span class="text-gray fs-13">Reported by</span>
            </div>
            <div class="d-flex align-items-center">
                <mat-icon class="text-gray fs-20" *ngIf="trashItem.isRecovered">calendar_today</mat-icon>
                <span class="text-gray fs-13" *ngIf="trashItem.isRecovered">Recovered on</span>
            </div>
        </div>
        <div class="m-t-10 d-flex justfy-content-spacebetween">
            <span class="fs-14 color-primary bold">{{trashItem.reportedUserName}}</span>
            <span class="fs-13 color-primary bold" *ngIf="trashItem.isRecovered">{{trashItem.recoveredDate| date:
                'dd-MMM-yyyy'}}</span>
        </div>

    </div>

    <div mat-dialog-actions>
        <button mat-button class="bg-success btn-primary" (click)="clickOnRecovered()">{{trashItem.isRecovered==true ?
            'Recovered':'Mark as recovered'}}</button>
    </div>
</div>