<div class="header-section">
    <div class="d-flex justfy-content-spacebetween">
        <div class="header-left">

        </div>
        <div class="header-right d-flex align-items-center gap-30">
            <div class="d-flex gap-20">
                <div class="award-icon custom-sprite"></div>

                <div class="notification-icon custom-sprite">
                    <div matBadge="4" matBadgeOverlap="false" class="demo-section"></div>
                </div>
            </div>

            <div class="d-flex align-items-center gap-20">
                <div class="divider"><i></i></div>

                <span>{{userDetails?.name}}</span>

                <!-- <div class="user-profile"  (click)="clickOnProfilePhoto()">
                
                </div> -->
                <!--   -->
                <button mat-button>
                    <img class="user-profile" [src]="imageUrl" [matMenuTriggerFor]="beforeMenu" alt="profile image">
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <div class="profile-menu d-flex flex-column p-10">
                        <!-- <div class="d-flex  ">
                            <div class="menu-profile-img relative">
                                <div class="d-flex align-items-center  edit-img-wrpr ">
                                    <i class="edit-icon custom-sprite"></i>
                                </div>
                            </div>
                        </div> -->
                        <div class="d-flex  flex-column">
                            <h4 class="m-b-0 fs-22">{{userDetails?.name}}</h4>
                            <!-- <label class="text-gray">BSM Company</label> -->
                        </div>
                        <div class="d-flex rewards m-t-30 m-b-30">
                            <div class="d-flex rank-wrapr relative gap-20">
                                <i class="custom-sprite rank-icon"></i>
                                <div class="d-flex flex-column">
                                    <label class="text-gray fs-12">Your rank</label>
                                    <label class="bold">{{userDetails.rank}}</label>
                                </div>
                            </div>

                            <div class="d-flex gap-20">
                                <i class="custom-sprite point-icon"></i>
                                <div>
                                    <label class="text-gray fs-12">Your points</label>
                                    <div class="d-flex gap-10 align-items-center">
                                        <i class="custom-sprite arrow"></i>
                                        <label class="bold">{{userDetails.points}}</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-20">
                            <i class="custom-sprite website-icon"></i>
                            <h4>Eyesea Website</h4>
                        </div>
                        <div class="d-flex align-items-center gap-20">
                            <i class="custom-sprite policy-icon"></i>
                            <h4>Data Policy</h4>
                        </div>
                        <div class="d-flex align-items-center gap-20">
                            <i class="custom-sprite help-icon"></i>
                            <h4>Help</h4>
                        </div>
                        <div class="d-flex align-items-center gap-20">
                            <i class="custom-sprite Contact-icon"></i>
                            <h4>Contact Us</h4>
                        </div>
                        <div class="d-flex align-items-center gap-20">
                            <i class="custom-sprite settings-icon"></i>
                            <h4>Settings</h4>
                        </div>
                        <div class="d-flex align-items-center gap-20" (click)="editProfile()">
                            <i class="custom-sprite settings-icon"></i>
                            <h4>Edit Profile</h4>
                        </div>
                        <div class="d-flex align-items-center gap-20" (click)="signout()">
                            <i class="custom-sprite settings-icon"></i>
                            <h4>Log out</h4>
                        </div>
                    </div>
                </mat-menu>
            </div>

        </div>
    </div>
</div>