<div class="login-section full-width full-height">
    <div class="login-wrper full-width full-height d-flex">
        <div class="login-left d-flex flex-1">
            <div class="login-bg-img d-flex align-items-center">

                <!--================== Left Content section=========== -->
                <div class="left-content  full-width">
                    <h5 class="m-b-0">Welcome to</h5>
                    <h3 class="m-t-0 ">Eyesea</h3>
                    <p>Real-time Maritime Pollution Reporting and Mapping </p>
                </div>
                <div>
                </div>
            </div>
        </div>

        <!--================== Right Content Section=========== -->
        <div class="login-right d-flex align-items-center justify-content-center">
            <div class="eyesea-login-section">
                <!--================== Logo=========== -->
                <div class="d-flex justify-content-center">
                    <div class="logo-img"></div>
                </div>
                <!--================== login-content=========== -->
                <div class="login-content">
                    <p class="text-center m-b-10">Welcome back ! </p>
                    <p class="text-center m-t-0">Please log in to continue !</p>
                </div>
                <!--================== Login forms=========== -->

                <div class="eyesea-login">
                    <div class=" m-t-60">
                        <div class="d-flex  align-items-center socialmedia-icons fb">
                            <i class="facebook-icon pointer custom-sprite"></i>
                            <div class="d-flex justify-content-center align-items-center full-width">
                                <h4 class="text-white" (click)="facebookLogin()">Facebook</h4>
                            </div>
                        </div>

                        <div class="d-flex  align-items-center socialmedia-icons google" (click)="googleLogin()">
                            <i class="google-icon pointer custom-sprite"></i>
                            <div class="d-flex justify-content-center align-items-center full-width">
                                <h4 class="text-color">Google</h4>
                            </div>
                        </div>

                        <div class="d-flex  align-items-center socialmedia-icons gust">
                            <i class="gustuser-icon pointer custom-sprite"></i>
                            <div class="d-flex justify-content-center align-items-center full-width">
                                <h4 class="text-white" (click)="guestUserLogin()">Guest User</h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- login.component.html -->