<div class="login-section full-width full-height register-section">
    <div class="login-wrper full-width full-height d-flex">

        <div class="register-right edit-profile">
            <div class="m-b-40 m-t-40">
                <h3 class="m-b-10">Edit Profile</h3>
            </div>
            <div class="d-flex  m-b-60">
                <div class="change-img relative Profile-img">
                    <img class="add-img" style="border-radius: 50%;" [src]="imageUrl" referrerpolicy="no-referrer"
                        alt="editphoto">
                </div>
            </div>

            <form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="oneditRegisterClick()">
                <div class="register-forms">
                    <div class="grid-item">
                        <app-mat-auto-complete [optionData]="userTypes" [label]="'User Type'" [optionKey]="'name'"
                            [optionValue]="'id'" [customClass]="'register-custom-styles login-custom-styles'"
                            [initialVal]="userDetails.userTypeId"
                            (optionSelectedValue)="onUserTypeSelected($event)"></app-mat-auto-complete>
                        <mat-error *ngIf="registrationForm.get('UserTypeID')?.hasError('required')">User Type is
                            required</mat-error>
                    </div>

                    <div class="grid-item">
                        <mat-form-field class=" register-custom-styles login-custom-styles">
                            <mat-label class="fs-12">Name</mat-label>
                            <input matInput formControlName="userName" placeholder="" value="">
                            <mat-error
                                *ngIf="registrationForm.get('userName')?.invalid&&(registrationForm.get('userName')?.dirty||registrationForm.get('userName')?.touched)"
                                class="block p-error"></mat-error>
                            <mat-error *ngIf="registrationForm.get('userName')?.hasError('required')">Name is
                                required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid-item">
                        <app-mat-auto-complete [optionData]="companyDetails" [label]="'Organization'"
                            [optionKey]="'name'" [optionValue]="'id'"
                            [customClass]="'register-custom-styles login-custom-styles'"
                            [initialVal]="userDetails.companyId"
                            (optionSelectedValue)="onCompanySelected($event)"></app-mat-auto-complete>
                        <mat-error *ngIf="registrationForm.get('companyId')?.hasError('required')">Organization is
                            required</mat-error>
                    </div>

                    <div class="grid-item">
                        <mat-form-field class=" register-custom-styles login-custom-styles" [ariaDisabled]="true">
                            <mat-label class="fs-12">User Number</mat-label>
                            <input matInput formControlName="userNumber" readonly="true" placeholder="" value="">
                        </mat-form-field>
                    </div>

                    <div class="grid-item">
                        <app-mat-auto-complete [optionData]="vesselDetails" [label]="'Ship Name'"
                            [optionKey]="'vesselName'" [optionValue]="'id'"
                            [customClass]="'register-custom-styles login-custom-styles'"
                            [initialVal]="userDetails.vesselId"
                            (optionSelectedValue)="onVesselSelected($event)"></app-mat-auto-complete>
                        <mat-error *ngIf="registrationForm.get('VesselID')?.hasError('required')">Ship Name
                            is required</mat-error>
                    </div>

                    <div class="grid-item">
                        <mat-form-field class=" register-custom-styles login-custom-styles" aria-disabled="true">
                            <input matInput formControlName="imoNumber" placeholder="MMSI Number" readonly>
                        </mat-form-field>
                    </div>

                </div>
                <div class="signup-btn d-flex gap-10 justfy-content-end ">
                    <button mat-button class="pointer btn-white " type="submit">Cancel</button>
                    <button mat-button class="pointer btn-primary" type="submit">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>