<div class="data-policy">
    <div class="model-header">
        <div class="d-flex justfy-content-spacebetween ">
            <h1 mat-dialog-title class="d-flex p-0">DATA POLICY</h1>
            <mat-icon class="text-gray pointer" >close</mat-icon>
        </div>
    </div>
        <div mat-dialog-content class="">
            <div>
                <h4 class="fs-18">All pictures submitted to Eyesea analysis will not be linked to vessels or individuals.</h4>
            </div>
            <div>
                <h4 class="fs-16">5.1.1 Data Collection and Storage</h4>
                <ul class="p-l-0">
                    <li class="list-none"> 
                        <span class="bold">(I) Privacy Policies</span> : is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </li>
                    <ul>
                        <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing</li>
                        <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing</li>
                        <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>

                    </ul>
                    <li class="list-none"><span class="bold">(I)Permission</span> : is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                </ul>
            </div>
        </div>
            <div mat-dialog-actions class="d-flex justfy-content-end">

                <button mat-stroked-button class="pointer btn-primary btn-submit">Accept</button>
              


            </div>
           
  
        

   



</div>
