<div class="upload-popup">
    <div class="model-header">
        <div class="d-flex justfy-content-spacebetween ">
            <h1 mat-dialog-title class="d-flex p-0">Upload Photo</h1>
            <mat-icon class="text-gray">close</mat-icon>
        </div>
    </div>
    <div mat-dialog-content class="">
        <div>

        </div>

    </div>
    <div mat-dialog-actions class="d-flex justfy-content-spacebetween">
        <div class="d-flex ">
            <i class="custom-sprite zoom-out-icon"></i>

            <i class="custom-sprite zoom-in-icon"></i>
        </div>


        <button mat-stroked-button class="pointer btn-primary btn-submit">Save</button>



    </div>
</div>