<div class="public-main-page ">
    <div class="full-height d-flex">
        <div class="left-content d-flex flex-1">
            <app-mapbox [container]="'dashboard'" [locateUser]="true" [trashData]="trashDataForMap"
                [trashFiltersTemplate]="fitersTemplate" [tabName]="selectedTab"></app-mapbox>
        </div>
        <div class="right-content">
            <div class="relative p-20">
                <mat-tab-group (selectedTabChange)="onTrashTabChange($event)" disableRipple>
                    <mat-tab [label]="tab" *ngFor="let tab of tabNames">
                        <app-trash-tab [tabName]="selectedTab" [trashData]="trashDataForMap"
                            [trashCategories]="trashCategories" [attachmentData]="allTrashAttachment"></app-trash-tab>
                    </mat-tab>
                </mat-tab-group>
                <div class="right-btn " (click)="AddTrashClick()">
                    <mat-icon>add</mat-icon>
                    <span class="text-white">Trash</span>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #fitersTemplate let-data="dynamicData">
    <div class="map-wrapper">
        <div class="filter-btn-wrapper">
            <div *ngFor="let category of trashCategories"
                class="btn-inner-wrapper d-flex align-items-center pointer justify-content-center flex-column"
                [ngClass]="{'active': isFilterAppllied && selectedCategoryFilter==category.id}"
                (click)="filterTrash(category.id)">
                <i [ngClass]="category.code.toLowerCase()+'-icon'" class="custom-sprite"></i>
                <label>{{category.name}}</label>
            </div>
        </div>
    </div>
</ng-template>