<div class="public-main-page ">
    <div class="full-height d-flex">
        <div class="left-content d-flex flex-1">
            <app-mapbox [container]="'dashboard'" [trashFiltersTemplate]="fitersTemplate" [locateUser]="true"
                [mapData]="trashDataForMap" [geoCoder]="true">
            </app-mapbox>
        </div>
        <div class="right-content">
            <div class="relative p-20">
                <mat-tab-group (selectedTabChange)="onTrashTabChange($event)">
                    <mat-tab label="My Trash">
                        <app-trash-tab [tabName]="selectedTab" [trashData]="trashDataForMap"></app-trash-tab>
                    </mat-tab>
                    <mat-tab label="All Trash">
                        <app-trash-tab [tabName]="selectedTab" [trashData]="trashDataForMap"></app-trash-tab>
                    </mat-tab>
                    <mat-tab label="Recovered Trash">
                        <app-trash-tab [tabName]="selectedTab" [trashData]="trashDataForMap"></app-trash-tab>
                    </mat-tab>

                </mat-tab-group>
                <div class="right-btn" (click)="AddTrashClick()">
                    <mat-icon>add</mat-icon>
                    <span class="text-white">Trash</span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #fitersTemplate let-data="dynamicData">
    <div class="map-wrapper">
        <div class="filter-btn-wrapper">
            <div class="btn-inner-wrapper d-flex align-items-center pointer justify-content-center flex-column active">
                <i class="net-icon custom-sprite" (click)="filterTrash(1)"></i>
                <label>net</label>
            </div>
            <div class="btn-inner-wrapper d-flex align-items-center pointer justify-content-center flex-column">
                <i class="plastic custom-sprite" (click)="filterTrash(2)"></i>
                <label>plastic</label>
            </div>
            <div class="btn-inner-wrapper d-flex align-items-center pointer justify-content-center flex-column">
                <i class="oil-icon custom-sprite" (click)="filterTrash(3)"></i>
                <label>Oil spill </label>
            </div>
            <div class="btn-inner-wrapper d-flex align-items-center pointer justify-content-center flex-column">
                <i class="other-icon custom-sprite"></i>
                <label>other</label>
            </div>
        </div>
    </div>
</ng-template>