#fit {
    display: block;
    position: fixed;
    margin: auto;
    top: 20%;
    left: 50%;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}